<h1>Gatherings#index</h1>
<p>Find me in app/views/gatherings/index.html.erb</p>


<%= link_to("Create New Gathering", {:action => 'new'}, :class => 'action new') %>
<%= link_to("<< Back to Splash", {:action => 'splash'}, :class => 'back-link') %>


<table class="listing" summary="Gathering List">
	<tr class="header">
		<th>Name</th>
		<th>Date</th>
		<th>Time</th>
		<th>Ante Date</th>
		<th>Ante Time</th>
		<th>Location</th>
		<th>Gathering Type</th>
		<th>Description</th>
		<th>Max Attendees</th>
		<th>Min Attendees</th>
		<th>Created At</th>
		<th>Updated At</th>
	</tr>
	<% @gathering.each do |n| %>
	<tr>
		<td><%= n.name %></td>
		<td><%= n.event_date %></td>
		<td><%= n.event_time %></td>
		<td><%= n.ante_date %></td>
		<td><%= n.ante_time %></td>
		<td><%= n.location %></td>
		<td><%= n.gathering_type %></td>
		<td><%= n.description %></td>
		<td><%= n.max_attendees %></td>
		<td><%= n.min_attendees %></td>
		<td><%= n.created_at %></td>
		<td><%= n.updated_at %></td>
	</tr>
	<% end %>
</table>